@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

nav{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    color: #2C3FEA;
    text-align: center;
    line-height: 1.5;

}