label{
    display:block;
    padding:15px;
}

.passenger {
    border-radius:3px;
    font-weight: bold;
}

.passenger > * {
    width: 100%;
}

.passenger > * > label {
    width: 60%;
    margin-left: 20%;
}

.passenger > * > input {
    width: 60%;
    margin-left: 20%;
}

.passenger > * > select {
    width: 20%;
    margin-left: 20%;
}

.bookButton{
    margin-top:20px;
}

.button{
    font-size: 12px;
}