*{
  box-sizing:border-box;
  background-color: transparent;
  font-family: 'Libre Baskerville', serif;
}
html{
  margin:0 auto;
  padding: 0;

}
body{
  background-image: url('components/Images/Airport-Wallpapers-HD-opacity.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}

.App{
  padding: 1rem 1.6rem;
}