.button{
    box-shadow: 0 2px 5px rgb(0, 0, 0, .25);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #2C3FEA;
    color:whitesmoke;
    font-size: 16px;
    width:7rem;
    height: 2rem;
    letter-spacing: 1.3px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}