.button{
    box-shadow: 0 2px 5px rgb(0, 0, 0, .25);
    border-radius: 2px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #2C3FEA;
    color:whitesmoke;
    font-size: 16px;
    width:7rem;
    height: 1.6rem;
    letter-spacing: 1.3px;
}